	body{
		font: 15px/1.5 Arial, Helvetica, sans-serif;
		padding: 0;
		margin: 0;
		background-color: #f4f4f4;
	}

	/*global */
	.container{
		width: 80%;
		margin: auto;
		overflow: hidden;
		text-align: center;


	}


	#banner_flex{
		
	}


	/* header */
	header{
		background: #35424a;
		color: #ffffff;
		padding-top: 30px;
		min-height: 70px;
		border-bottom: #e8491d 3px solid;
	}

	header a{
		color: #ffffff;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px; 
	}

	header li{
		/*float: left;*/
		display: inline-block;
		padding: 0 20px 0 20px;
		/*justify-content: flex-end;*/
	}

	header #branding{
		float: left;
	}

	header #branding h1{
		margin: 0;
	}

	header nav{
		float: right;
		margin-top: 25px;
	}

	header .highlight{
		color: #e8491d;
		font-weight: bold;
	}

	header a:hover{
		color: #e8491d;
	}

	header a:active{
		font-weight: bold;
	}

	/* showcase */
	/*#showcase{
		margin-left: auto;
		margin-right: auto;
		width: 80%; 
		min-height: 500px;
		background: url("../Images/background.jpg") no-repeat;
		background-size: 100%;
		background-position-x: 0px;
		background-position-y: 0px;
		text-align: center;
		color: #ffffff;
	}*/


	/*#showcase h1{
		margin-top: 100px; 
		font-size: 55px;
		margin-bottom: 10px;
	}

	#showcase p{
		font-size: 20px;
	}*/
	/*Here i end the Showcase section*/





	/*Here i will start the About section*/
	#about{
		width: 80%;
		margin: auto;
		overflow: hidden;
		text-align: center;
	}

	#about .container{
	/*	background-color: rgba(48, 56, 65, .1);*/
		/*border: 1px solid blue;*/
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.highlight{
		color: #e8491d;
		font-weight: bold;
	}

	.contact_button_div{
		border-bottom: medium groove #35424a;
		text-decoration: none;
	}

	.contact_button_div a{
		text-decoration: none;
		color: black;
	}

	/*Here i end the About section*/

	/*Here i will start the Related Experience section*/
	#relatedexperience h1, #otherexperience h1, #skills h1, #about h1{
		border-bottom: solid 3px #ff5722;
		width: 250px;
	}

	.box{
		display: inline-block;
		/*border: 1px solid red;*/
		background-color: rgba(48, 56, 65, .1);
		margin: 10px;
		padding: 10px;
	}

	.box li{
		text-align: left;
	}
	/*Here i end the Related Experience section*/

	/*Here i start the Other Experience section*/
	/*Here i end the Other Experience section*/

	/* here i style the skills section */
	.skills-box{
		background-color: rgba(53, 66, 74, .1);
	}

	 #skills li{
	 	display: inline-block;
		padding: 10px;
		/*border-bottom: 1px solid #ff5722;*/
	 }
	 /*Here i end the skills section*/

	/*Here i begin the Contact section*/
	#contact{
		background: #35424a;
		border-top: #e8491d 3px solid;
		text-align: center;
	}

	#contact-form{
		margin: 15px;
		padding: 20px;
		color: #f4f4f4;
		size: 25px;
	}
	
	#contact-form h2 .highlight{
		color: #e8491d;
	}

	/*global*/
	form{
		display: block;
    	margin-top: 0em;
	}

	input[type="email"], select{
		width: 50%;
		height: 20%;
  		padding: 12px 20px;
  		margin: 8px 0;
  		display: inline-block;
  		border: 1px solid #ccc;
  		border-radius: 4px;
  		box-sizing: border-box;
	}
	input[type="text"], select{
		width: 50%;
  		padding: 12px 20px;
  		margin: 8px 0;
  		display: inline-block;
  		border: 1px solid #ccc;
  		border-radius: 4px;
  		box-sizing: border-box;	
	}

	input[type="text"]{
		height: 100px;

	}

	input[type="submit"]{
		width: 50%;
		background-color: #4CAF50;
		color: white;
		padding: 15px;
		margin: 8px 0;
		border: none;
		border-radius: 4px;
	    cursor: pointer;
	}
	input[type="submit"]:hover{
		background-color:#45a049;
	}
	/*Here i end the Contact section*/

	/*Here i start the footer section*/
	footer{
		text-align: center;
	}

	/*Here i end the footer section*/


